<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thssh.example">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".widget.PercentRelativeLayoutActivity" />
        <activity android:name=".sqlorm.SqlOrmExampleActivity" />
        <activity android:name=".widget.UIActivity" />
        <activity android:name=".widget.ShaderActivity" />
        <activity android:name=".widget.ZoomImageActivity" />
        <activity android:name=".widget.LinearGradientTextViewActivity" />
        <activity android:name=".widget.RoundImageActivity" />
        <activity android:name=".widget.FlowLayoutActivity" />
        <activity android:name=".lib.PicassoTestActivity" />
    </application>

</manifest>